.avrg-card {
  margin-bottom: 10rem;
  height: 20rem;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
  }

  &__heading {
    position: relative;
    // display: inline-block;
    font-size: $default-font-size;
    font-weight: 700;
    width: 100%;
    color: $color-grey-dark;
    text-shadow: 0 1.5rem 4rem rgba($color-black, 0.9);
    letter-spacing: 0.2rem;
  }

  &__temperature {
    position: relative;
    color: $color-white;
    font-size: 12rem;
    font-weight: 600;
    text-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
