.search-bar {
  padding: 1.5rem 1rem;
  display: inline-flex;
  margin-top: 11rem;
  align-items: center;
  justify-content: center;
  max-width: 56.5rem;
  width: 100%;
  height: auto;
  background-image: linear-gradient(
    rgba($color-white, 0.8),
    rgba($color-primary, 0.9)
  );
  box-shadow: 0px 1.5rem 4rem rgba($color-black, 0.15);
  border-radius: 1.6rem;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
  }

  &__icon {
    position: relative;
    margin-right: 1rem;
    max-width: 4rem;
    height: auto;
  }
  &__select-box {
    position: relative;
    font-weight: 700;
    color: $color-grey-dark;
    background-image: linear-gradient(
      to bottom,
      rgba($color-white, 0.1),
      rgba($color-white, 0.9)
    );
    align-items: center;
    display: inline-flex;
    border: 1px solid rgba(8, 21, 62, 0.05);
    width: 4.8rem;
    margin: 0 1rem 0 1rem 0;
    height: 4.8rem;
    border-radius: 0.6rem;
    padding: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 2rem center;

    &:hover {
      background-color: khaki;
      resize: none;
      outline: none;
    }

    &:focus {
      background-color: khaki;
      resize: none;
      outline: none;
    }
  }
  &__search-box {
    margin-left: 0.5rem;
    height: 4.8rem;
    max-width: 78%;
    width: 100%;
    position: relative;
    align-items: center;
    display: inline-flex;
    background-image: linear-gradient(
      to bottom,
      rgba($color-white, 0.1),
      rgba($color-white, 0.9)
    );
    border: 1px solid rgba(8, 21, 62, 0.05);
    border-radius: 0.6rem;

    &:hover {
      background-color: khaki;
      resize: none;
      outline: none;
    }

    &:focus {
      background-color: transparent;
      resize: none;
      outline: none;
    }
  }

  &__search-city {
    position: relative;
    font-size: 1.3rem;
    width: 75%;
    height: 2.8rem;
    margin: 0 6rem 0 1rem;
    &:hover {
      color: purple;
      background-color: transparent;
      resize: none;
      outline: none;
    }

    &:focus {
      color: purple;
      background-color: transparent;
      resize: none;
      outline: none;
    }
  }
}

.search {
  position: relative;
  transition: all 0.2s linear;

  &:hover {
    background-color: transparent;
    resize: none;
    outline: none;
    transform: scale(1.11);
  }

  &:focus {
    background-color: transparent;
    resize: none;
    outline: none;
  }
}
